In [10]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 100)

print('Pandas version ' + pd.__version__)
print('Numpy version ' + np.__version__)

Pandas version 0.22.0
Numpy version 1.13.3

In [11]:
data = pd.read_table("irclog.tsv", encoding = "ISO-8859-1")

In [12]:
data.head()

,id,channel,day,nick,timestamp,line,spam,in_summary
0,1,#dvn,2012-12-08,NaN,1355005146,iqlogbot joined #dvn,0,0
1,2,#dvn,2012-12-08,NaN,1355005248,Topic for #dvn is now http://thedata.org - The...,0,0
2,3,#dvn,2012-12-08,pdurbin,1355005351,"hello! welcome to #dvn, an IRC channel on Free...",0,0
3,4,#dvn,2012-12-08,pdurbin,1355005459,our website is http://thedata.org and we're st...,0,0
4,5,#dvn,2012-12-08,pdurbin,1355005517,we call our project DVN for short :),0,0

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92847 entries, 0 to 92846
Data columns (total 8 columns):
id            92847 non-null int64
channel       92847 non-null object
day           92847 non-null object
nick          60116 non-null object
timestamp     92847 non-null int64
line          92845 non-null object
spam          92847 non-null int64
in_summary    92847 non-null int64
dtypes: int64(4), object(4)
memory usage: 5.7+ MB

In [14]:
list(data.columns)

['id', 'channel', 'day', 'nick', 'timestamp', 'line', 'spam', 'in_summary']

In [15]:
data['channel'].value_counts()

#dataverse    82587
#dvn          10260
Name: channel, dtype: int64